@model IEnumerable<ProductDetails>

@{
    ViewData["Title"] = "Products";
    Layout = "_Layout";
}

<div class="mt-1">
    <div class="container-fluid px-4">
        <h1 class="mt-4">Brands</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
            <li class="breadcrumb-item active">all Products</li>
        </ol>
        <div class="container">

            @if (TempData["AddedSuccessfuly"] != null)
            {
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    @TempData["AddedSuccessfuly"]
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            }
            @if (TempData["FailedToCreate"] != null)
            {
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    @TempData["FailedToCreate"]
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            }
            <a  class="btn btn-primary" asp-action="Create">
                <i class="bi bi-plus-circle" ></i>
                create Product
            </a>

           
        @if (Model.Count() > 0)
        {
                <div class="card mb-4 mt-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        Brandas Table
                    </div>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Product Name</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Category</th>
                                    <th>Brand</th>
                                    <th>Created at</th>
                                    <th>Details</th>
                                    <th>Update</th>
                                    <th>Delete</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var product in Model)
                                {

                                    
                                        string productName = product.product_name;
                                        if (productName.Length > 20)
                                        {
                                        productName = productName.Substring(0, 20) + "...";
                                        }
                                   
                                    <tr>
                                      
                                        <td>@productName</td>
                                        <td>@Html.DisplayFor(M=>product.price) LE</td>
                                    <td>@Html.DisplayFor(M=>product.quantity)</td>
                                    <td>@Html.DisplayFor(M=>product.category_name)</td>
                                    <td>@Html.DisplayFor(M=>product.brand_name)</td>
                                        <td>@Html.DisplayFor(M=>product.created_at)</td>
                                    
                                     <td>
                            <a asp-action="Details" asp-route-id="@product.product_id" class="btn btn-success">
                            <i class="fas fa-eye"></i>  Details

                            </a>
                            </td>
                                    <td>
                                        <a asp-action="Update" asp-route-id="@product.product_id" class="btn btn-warning">
                                            <i class="fas fa-edit"></i>  Update
                                        </a>
                                    </td>
                                    <td>
                                        <a asp-action="Delete" asp-route-id="@product.product_id" class="btn btn-danger">
                                            <i class="fas fa-trash"></i> Delete
                                        </a>
                                    </td>

                                </tr>


                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }

    </div>

    <div />
