@model IEnumerable<Brand>

@{
    ViewData["Title"] = "Brands";
}
<div class="mt-1"> 
    <div class="container-fluid px-4">
        <h1 class="mt-4">Brands</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
            <li class="breadcrumb-item active">Brands</li>
        </ol>
       <div class="container">
           
            @if (TempData["AddedSuccessfuly"] != null)
            {
	    	<div class="alert alert-success alert-dismissible fade show" role="alert">
                    @TempData["AddedSuccessfuly"]
             <button type="button" class="close" data-dismiss="alert" aria-label="Close">
           <span aria-hidden="true">&times;</span>
             </button>
</div>
            }
            @if (TempData["FailedToCreate"] != null)
            {
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    @TempData["FailedToCreate"]
             <button type="button" class="close" data-dismiss="alert" aria-label="Close">
           <span aria-hidden="true">&times;</span>
             </button>
</div>
            }
            <a href="#demo" class="btn btn-primary" data-toggle="collapse">
                <i class="bi bi-plus-circle"></i>
                create brand</a>

  <div id="demo" class="collapse mt-2">
                @{
                    Brand brand = new Brand();
                }
        <form class="form-inline" asp-action="Create">
      <label class="mr-sm-2" asp-for="@brand.brand_name">Brand Name </label>
      <input type="text" asp-for="@brand.brand_name" class="form-control mb-2 mr-sm-2" placeholder="enter brand name" id="email">
       <a asp-action="Index" class="btn btn-light">Cancel</a>
      <button type="submit" class="btn btn-primary ml-2">Submit</button>
</form>
            @section validationScriptSection{
                <partial name="_ValidationScriptsPartial" />
            }
     </div>
  </div>
        @if (Model.Count() > 0)
        {
            <div class="card mb-4 mt-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Brandas Table
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Brand id</th>
                            <th>Brand Name</th>
                            <th>Update</th>
                            <th>Delete</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                            @foreach(var brandItem in Model)
                            {
                             <tr>
                                    <td>@Html.DisplayFor(M=>brandItem.brand_id)</td>
                                    <td>@Html.DisplayFor(M=>brandItem.brand_name)</td>
                          @*  <td>
                                <a asp-action="Details" asp-route-id="" class="btn btn-success">
                                    <i class="fas fa-eye"></i>  Details

                                </a>
							</td>*@
                            <td>
                                <a asp-action="Update" asp-route-id="@brandItem.brand_id" class="btn btn-warning">
                                    <i class="fas fa-edit"></i>  Update
                                </a>
                            </td>
                           <td>
                                <a asp-action="Delete" asp-route-id="@brandItem.brand_id" class="btn btn-danger">
                                    <i class="fas fa-trash"></i> Delete
                                </a>
                            </td>
							
                        </tr>
                     
                            
                            }
                        </tbody>
                </table>
            </div>
        </div>
        }
        
    </div>

<div/>
