@model IEnumerable<Discount>

@{
    ViewData["Title"] = "Discounts";
}
<div class="mt-1">
    <div class="container-fluid px-4">
        <h1 class="mt-4">Discounts</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
            <li class="breadcrumb-item active">Discounts</li>
        </ol>
        <div class="container">

            @if (TempData["AddedSuccessfuly"] != null)
            {
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    @TempData["AddedSuccessfuly"]
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            }
            @if (TempData["FailedToCreate"] != null)
            {
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    @TempData["FailedToCreate"]
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            }
            <a href="#demo" class="btn btn-primary" >
                <i class="bi bi-plus-circle"></i>
                create Discount
            </a>

            
        </div>
        @if (Model.Count() > 0)
        {
            <div class="card mb-4 mt-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    Discounts Table
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Discount Name</th>
                                <th>presentage</th>
                                <th>is active</th>
                                <th>maxValue</th>
                                <th>Details</th>
                                <th>Detete</th>
                                <th>Update</th>


                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var discount in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(M=>discount.discount_name)</td>
                                    <td>@Html.DisplayFor(M=>discount.discount_persentage) %</td>
                                    <td>@Html.DisplayFor(M=>discount.discount_enabled)</td>
                                    <td>@Html.DisplayFor(M=>discount.maxValue) LE</td>
                                      <td>
                            <a asp-action="Details" asp-route-id="@discount.discount_id" class="btn btn-success">
                            <i class="fas fa-eye"></i>  Details

                            </a>
                            </td>
                                    <td>
                                        <a asp-action="Update" asp-route-id="@discount.discount_id" class="btn btn-warning">
                                            <i class="fas fa-edit"></i>  Update
                                        </a>
                                    </td>
                                    <td>
                                        <a asp-action="Delete" asp-route-id="@discount.discount_id" class="btn btn-danger">
                                            <i class="fas fa-trash"></i> Delete
                                        </a>
                                    </td>

                                </tr>


                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }

    </div>

    <div />
